/* FormField.module.css */
.formField {
  margin-bottom: var(--spacingVerticalXL);
  max-width: 320px;
}

.label {
  margin-bottom: var(--spacingVerticalS);
  display: flex;
  align-items: center;
}

svg {
  margin-left: var(--spacingHorizontalXS);
}

.helper-text {
  color: orange;
}

.text {
  margin-top: var(--spacingVerticalS);
}

.error {
  color: red;
}
