@font-face {
  font-family: Segoe UI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Segoe UI;
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Segoe UI;
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root,
.container,
.sidebar {
  height: 100%;
}

body {
  background: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground2);
}

h3 {
  margin: var(--spacingVerticalL) 0;
}

.container {
  max-width: 1200px;
  display: flex;
}

a {
  color: var(--colorBrandBackground);
  text-decoration: none;
}

fabric-teaching-bubble {
  z-index: 1000;
}

.nav-item a,
.external {
  font-size: var(--fontSizeBase300);
}

.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  height: 100%;
}

.side-nav {
  max-width: 280px;
  background: var(--colorNeutralBackground2);
  padding: var(--spacingVerticalXL) var(--spacingHorizontalXXXL);
  position: relative;
  height: 100%;
}

.side-nav h3 {
  line-height: var(--lineHeightBase600);
  margin-left: var(--spacingHorizontalSNudge);
}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: var(--spacingHorizontalSNudge);
  margin: var(--spacingVerticalL) 0;
  color: var(--colorNeutralForeground2);
}

.nav-item:first-of-type {
  margin-top: var(--spacingVerticalXS);
}

.nav-item:last-of-type {
  margin-bottom: var(--spacingVerticalS);
}

.nav-item svg {
  padding-right: var(--spacingHorizontalS);
}

.nav-item.home {
  margin-left: var(--spacingHorizontalSNudge);
}

.nav-item.home a {
  font-size: var(--fontSizeBase400);
}

.nav-item.active::before,
.nav-item:hover::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--colorBrandBackground);
  border-radius: 3px 0 0 3px;
}

fluent-accordion-item,
fluent-accordion-item .nav-item a {
  color: var(--colorNeutralForeground2);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  margin-right: var(--spacingHorizontalXXS);
}

.content {
  padding: var(--spacingVerticalXL) var(--spacingHorizontalXXXL);
  width: 820px;
}

.dark-mode-switch,
#theme-select {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#theme-select {
  bottom: 100px;
  width: 200px;
}

.top-nav {
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightMedium);
  color: var(--colorNeutralForeground3);
}

.pet-photo {
  margin: var(--spacingHorizontalXL) 0;
}

.pet-photo fluent-label {
  margin-bottom: var(--spacingVerticalM);
}

.upload-container {
  display: flex;
  align-items: center;
}

.pet-photo .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 64px;
  height: 64px;
  margin-right: var(--spacingHorizontalL);
}

.upload-container fluent-button {
  margin-bottom: var(--spacingVerticalS);
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.empty-state fluent-button {
  width: auto;
  margin: var(--spacingVerticalL) auto;
}

.personality-card {
  margin-bottom: var(--spacingVerticalXL);
  width: 250px;
}

.personality-card .fui-CardHeader {
  display: block;
}

.personality-card .fui-CardHeader__header {
  display: block;
}

.personality-card .fui-CardHeader__header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personality-card .fui-CardHeader__header > div img {
  width: 24px;
  height: 24px;
}
